
#body{
  background-color: rgba(255, 255, 255, 0.678);
}
/*
#heading, html {
  margin: 20;
  padding: 20;

}
*/

h1 {
    font-size: 70px;
}
h2 {
  font-size: 35px;
}

#header{
  padding: 25px 0;
  border: 5px solid rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-family: arial;
  text-align: center;
  background-image: radial-gradient(rgba(197, 194, 194, 0.555),rgba(226, 226, 226, 0.712), rgb(250,250,250), rgb(255, 255, 255));

}
div.menubar{
  color:rgb(255, 255, 255);
}
div.option{
  margin: 1%;
  width: 22.3%;
  border: 2px solid rgba(70, 7, 7, 0.5);
  display: block;
  float: left;
  color: aliceblue;
  text-align: center;
  background-color: rgba(8, 10, 124, 0.73);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: arial;

}

a.ops{
  color: aliceblue;
  
}

a.a_url{
  color: rgb(8, 10, 124, 0.73);
}

a:hover{
  text-decoration: underline;
}

a.ops:visited, a.a_url:visited{
    text-decoration: none;
}

a.ops:link, a.a_url:link {
    text-decoration: none;
}

a.ops:active, a.a_url:active {
    text-decoration: underline;
}